StringLocalizer.xcodeproj/project.xcworkspace/contents.xcworkspacedata
StringLocalizer.xcodeproj/project.xcworkspace/xcuserdata/Lena.xcuserdatad/UserInterfaceState.xcuserstate
StringLocalizer.xcodeproj/xcuserdata/Lena.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
StringLocalizer.xcodeproj/xcuserdata/Lena.xcuserdatad/xcschemes/StringLocalizer.xcscheme
StringLocalizer.xcodeproj/xcuserdata/Lena.xcuserdatad/xcschemes/xcschememanagement.plist
